
.sticker {
    
    margin-top: -20%;
   margin-left: 77%;
    /* right: 10%; */
    width: 250px;
    
    height: auto;
   
    transform: rotate(10deg);
    
    border: 10px solid #fff;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
    background-color: #fff;
   
    border-radius: 5px;
   
}


.container {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 2% auto;
    padding: 20px;
    background-color: #dcdfdf;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.slides{
    display: flex;
    justify-content: center;
}

.heading {
    color: #26568a;
    text-align: center;
    margin-bottom: 20px;
}


.toggleButton {
    background-color: #26568a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggleButton:hover {
    background-color: #0056b3;
}


.section {
    margin-bottom: 30px;
}


.task {
    background-color: #ffffff;
    border: 2px solid #007bff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}


.iframeContainer {
    text-align: center;
    margin-bottom: 20px;
}

.iframeContainer iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 8px;
}


.questions {
    border-radius: 5px;
    margin-bottom: 20px;
}

.question {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.taskDescription {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    width: 80%;
   
    max-width: 600px;
  
}

.task {
    margin-bottom: 10px;
   
    color: #333;
   
    font-size: 24px;
    
    text-align: center;
    
}

@media (max-width: 768px) {
    .container {
        margin: 5% 3%;
        padding: 15px;
    }

    .iframeContainer iframe {
        height: 300px;
    }

   
}