/* .wordsColumn,
.descriptionsColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    min-height: 100px;
    width: 100%;
}
.matchGameContainer{
display: flex;
flex-direction: row;
}

.button {
    margin: 5px;
    display: block;
} */

.matchGameContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.wordsColumn,
.descriptionsColumn {
    flex: 1;
    margin: 10px;
}

.wordContainer,
.descriptionContainer {
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wordButton,
.descriptionButton {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.wordButton:hover,
.descriptionButton:hover {
    background-color: #eaeaea;
}

.matchedPair {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.correct {
    background-color: #d4edda;
    
    color: #155724;
   
    border-color: #c3e6cb;
   
}

.incorrect {
    background-color: #f8d7da;
    
    color: #721c24;
   
    border-color: #f5c6cb;
   
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}
.matchedPairsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.matchedPair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
}
.checkButton{
    margin: 10px 5px;
        padding: 10px 20px;
        border: none;
        background-color:#26568a;
        color: white;
        cursor: pointer;
        border-radius: 5px;
}

