/* .container{
    position: fixed,
    top: 50%,
            left: 50%,
            transform: translate(-50%, -50%),
            backgroundColor: white,
            padding: 20px,
            zIndex: 1000,
} */

/* .container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(138, 140, 141, 0.6);
    padding: 20px;
    z-index: 25;

}
.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

.closeButton {
    float: right;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 50%;
} */
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: showModal 0.3s ease-out forwards;
}

@keyframes showModal {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
.picontainer{
    display: flex;
    justify-content: center;
}

.picture {
  
    width: 60%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.closeButton {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.closeButton:hover {
    background-color: #0056b3;
}

.p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}